<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm"
    crossorigin="anonymous"
  />
  <title>Marks Calculator</title>
  <link href="https://fonts.googleapis.com/css?family=Anton|Francois+One|Gelasio|Oswald|Alata|Teko&display=swap" rel="stylesheet">
</head>

<div class="jumbotron">
  <h6 class="display-3" style="font-family:Anton;">
    There were errors while calculating your marks.
  </h6>
</div>
<h3 style="font-family:Teko;">The following are the possible reasons that caused the errors</h3>

<li>The target percentage exceeds 100%</li>
<li>The target percentage is below 0%</li>
<li>
  The assignments' individual percentages don't add up to the total in-semester
  weightage
</li>
</br>
<button
  type="button"
  class="btn btn-primary btn-sm"
  onclick="window.location.href = '/';"
>
  MAIN PAGE
</button>
