<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm"
    crossorigin="anonymous"
  />
  <title>Marks Calculator</title>
  <link
    href="https://fonts.googleapis.com/css?family=Anton|Gelasio|Oswald|Teko&display=swap"
    rel="stylesheet"
  />
</head>

<div class="jumbotron">
  <h1 style="font-family:Anton;">
    Unfortunately, you have failed the in-semester assessments.
  </h1>
  <h3 style="font-family:Teko;">Good luck on your next attempt!</h3>
</div>

<button
  type="button"
  class="btn btn-primary btn-sm"
  onclick="window.location.href = '/';"
>
  MAIN PAGE
</button>
