<h1>Welcome to the Marks determining application.</h1>

<form action="/form" method="GET">
  <li>Unit Code: <input type="text" name="unitCode" /></li>

  <li>
    No of Assessments in the Unit: <input type="text" name="noOfAssessments" />
    <input type="submit" />
  </li>
</form>
