<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm"
    crossorigin="anonymous"
  />
  <title>Marks Calculator</title>
  <link
    href="https://fonts.googleapis.com/css?family=Anton|Francois+One|Gelasio|Oswald|Alata|Teko&display=swap"
    rel="stylesheet"
  />

  <title>Marks Calculator</title>
</head>

<div class="jumbotron">
  <h3 style="font-family:Anton;" class="display-3">
    Error 404: Page Not Found!
  </h3>
</div>

<button
  type="button"
  class="btn btn-primary btn-sm"
  onclick="window.location.href = '/';"
>
  Main Page
</button>
